[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
deepforest = "*"
lxml = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
Shapely = "*"
scikit-learn = "*"
utm = "*"

[requires]
python_version = "3.7"
